#home {
    text-align: center;
    background: white;
    width: 500px;
    height: 100px;
    position: relative;
    left: 500px;
    top: 25px;
    font-family: 'Noto Serif', serif;
    background: bisque;
    padding: 10px 0 0 0;
    border-radius: 10px;
    border-style: groove;
  border-width: 7px;
  border-color: coral;  
}